<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='subscription/glightbox/css/glightbox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='subscription/css/style.css') }}">
  <title>Document</title>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center">
        <img src={{logo}} alt="">
        <!-- <span>Logo</span> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <!-- INTEGRATION NOTE: edit to return to main app -->
          <li><a class="getstarted scrollto" href="">Back to App</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Pricing</h2>
        <p>Check our Pricing</p>
      </header>
      <div class="row gy-4 d-flex justify-content-center" data-aos="fade-left">
        {% for plan in plans %}
        <div class="col-lg-3 col-md-6 " data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            {% if customer['plan'] == plan.id %}
            <span class="featured">your<br>current plan</span>
            {% endif%}
            {% if plan.id == '1' %}
            <h3 class="free-plan">{{ plan.plan_name }} Plan</h3>
            <div class="free-price"><sup>$</sup>{{ plan.price }}<span> / mo</span></div>
            <ul>
            {% else %}
            <h3 class="plan">{{ plan.plan_name }} Plan</h3>
            <div class="price"><sup>$</sup>{{ plan.price }}<span> / mo</span></div>
            <ul>
            {% endif %}
              {% for feature in features %}
                {% if feature in plan.features%}
                  {% if plan.id == '1' %}
                  <li>{{ feature }}</li>
                  {% else %}
                  <li class="feature">{{ feature }}</li>
                  {% endif %}
                {% else %}
                <li class="na">{{ feature }}</li>
                {% endif %}
              {% endfor %}
            </ul>
            <a href={{"/customers/" + customer["user_id"] + "/plans/" + plan.id }}>
              <button class="btn-buy">Buy Now</button>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </section><!-- End Pricing Section -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="{{ url_for('static', filename='subscription/glightbox/js/glightbox.min.js') }}"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="{{ url_for('static', filename='subscription/js/main.js')}}"></script>
</body>

</html>