{% extends 'layout.html' %}
{% block title %}
Checkout
{% endblock title %}
{% block main %}
<div class="sr-root">
    <div class="sr-main">
        <h1>package information</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies suscipit sem, quis pellentesque eros consectetur id. Fusce sed felis libero. Sed porta nec diam sed lobortis. Nunc aliquam ipsum a tellus placerat, ut congue ipsum ornare. Quisque lobortis, tellus ac malesuada posuere, nisl magna interdum nunc, quis scelerisque sem dolor sit amet dui. Curabitur fringilla facilisis porttitor. Etiam interdum sem magna, pretium tempor felis sollicitudin ut. Suspendisse ac elementum leo, quis maximus velit. In non hendrerit ex.</p>
    </div>
    <div class="sr-main">
      <form id="payment-form" class="sr-payment-form">
        <label for="dataSample">data</label>
        <div class="sr-combo-inputs-row" style="margin-bottom: 10px;">
            <input type="text" class="sr-input" id="dataSample" name="dataSample">
        </div>
        <label for="emailSample">Email</label>
        <div class="sr-combo-inputs-row" style="margin-bottom: 10px;">
            <input type="email" class="sr-input" id="emailSample" name="emailSample">
        </div>
        <br>
        <hr>
        <div class="sr-combo-inputs-row">
          <div class="sr-input sr-card-element" id="card-element"></div>
        </div>
        <div class="sr-field-error" id="card-errors" role="alert"></div>
        <hr>
        <p>Total Billed $20</p>
        <button id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay</span><span id="order-amount"></span>
        </button>
      </form>
      <div class="sr-result hidden">
        <p>Payment completed<br /></p>
        <pre>
          <code></code>
        </pre>
      </div>
    </div>
  </div>

{% endblock main %}
{% block script %}
<script src="{{ url_for('static', filename='js/stripe.js') }}"></script>
{% endblock script %}